.praiseList {
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
    margin-top: 0px;
}

.praiseItem {
    margin: 5px;
    width: 98%;
    height: auto;
    border-top: 1px solid #ededed;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.praiseItem .content_view {
    display: flex;
    flex-direction: row;
}

.praiseItem .praiseImg {
    width: 30%;
    text-align: right;
    padding: 2px;
    border-right: 1px solid #eee;
}

.praiseItem .praiseImg img {
    width: 100%;
    height: auto;
}

.praiseItem .praiseText {
    width:70%;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.praiseItem .praiseText div {
    line-height: 25px;
    height: auto;
}

.praiseItem .opt_view {
    display:block;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: right;
}

.praiseQueryForm {
    width: 100%;
    height: auto;
}

.praiseQueryForm h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.praiseQueryForm .queryBtn {
    text-align: right;
    margin: 10px;
}
